/********************************ALLE HEAD SIDER DESKTOP FORMAT******************************/
#head_body {
  background-color: rgb(232, 232, 224);
}

.nothing {
  display: block;
  padding: 1rem;
}

main {
  display: none;
}

/*desktop*/
@media screen and (min-width: 800px) {
  .nothing {
    display: none;
  }

  main {
    display: block;
  }

  /***HEAD FORSIDE***/
  /***BEANIE FORSIDE***/
  /*grid på siden*/
  #beanie-main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 1rem;
  }
  /*billede styling*/
  .beanie-img {
    padding: 0.5rem;
  }

  .beanie-img:hover {
    padding: 0.7rem;
    filter: brightness(50%);
  }

  /*baggrunden*/
  ::backdrop {
    backdrop-filter: blur(5px);
  }

  .popover-img {
    width: 450px;
    padding: 1rem;
  }

  .button {
    width: 70px;
    height: 70px;
    margin: 5px;
    background-color: #e8e7da;
    border: 2px solid #9d9b80;
    font-size: 3rem;
    margin-top: 4rem;
  }

  .button:hover {
    background-color: #d9d8c2;
  }

  .button:focus {
    background-color: #e7d6e9;
  }

  .popover-h2 {
    font-size: 3rem;
  }

  .popover-tekst {
    color: #616053;
    padding-top: 3rem;
  }

  .slut-tekst {
    padding-top: 3rem;
  }

  /*popup modaler, anden og tredje modal*/
  #popup {
    background-color: #f5f4eb;
    color: black;
    height: 600px;
    max-width: 120ch;
    width: 180vw;
    border-color: light-dark(#513d34, #2a221e);
    margin: 3rem auto;
  }

  #popup2 {
    background-color: #f5f4eb;
    color: black;
    height: 600px;
    max-width: 120ch;
    width: 180vw;
    border-color: light-dark(#513d34, #2a221e);
    margin: 3rem auto;
  }

  #popup3 {
    background-color: #f5f4eb;
    color: black;
    height: 600px;
    max-width: 120ch;
    width: 180vw;
    border-color: light-dark(#513d34, #2a221e);
    margin: 3rem auto;
  }

  #popup4 {
    background-color: #f5f4eb;
    color: black;
    height: 600px;
    max-width: 120ch;
    width: 180vw;
    border-color: light-dark(#513d34, #2a221e);
    margin: 3rem auto;
  }

  #popup5 {
    background-color: #f5f4eb;
    color: black;
    height: 600px;
    max-width: 120ch;
    width: 180vw;
    border-color: light-dark(#513d34, #2a221e);
    margin: 3rem auto;
  }

  .del2 {
    padding-top: 1rem;
  }

  [popover] {
    opacity: 0;
  }

  [popover]:popover-open {
    opacity: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
